variable "env" {
  type = string
}

variable "aws_region" {
  type = string
}

variable "ecs_task_execution_role_name" {
  type = string
  default = "myEcsTaskExecutionRolePlacesService"
}

variable "ecs_app_image" {
  type = string
  default = "nginx:latest"
}

variable "ecs_app_port" {
  type = number
  default = 80
}

variable "ecs_host_port" {
  type = number
  default = 80
}

variable "ecs_app_count" {
  type = number
  default = 1
}

variable "tg_health_check_path" {
  type = string
  default = "/api/v1/healthcheck"
}

variable "fargate_cpu" {
  type = string
  default = "256"
}

variable "fargate_memory" {
  type = string
  default = "512"
}

variable "certificate_arn" {
  type = string
}

variable "route53_zone_id" {
  type = string
}

variable "lb_arn" {
  type = string
}

variable "lb_security_group_id" {
  type = string
}

variable "vpc_id" {
  type = string
}

variable "subnet_public_a_id" {
  type = string
}

variable "subnet_public_b_id" {
  type = string
}

variable "subnet_private_a_id" {
  type = string
}

variable "subnet_private_b_id" {
  type = string
}

variable "cluster_id" {
  type = string
}
